<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
	<base href="/mvc/">
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title>omeda / News</title>
		<meta name="description" content="">
		<meta name="author" content="">
			
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	  	<!-- Bootstrap -->
	   	<link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet">
	   	<link th:href="@{/resources/css/font-awesome.css}" rel="stylesheet">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/css/smartadmin-production-plugins.min.css}">
		<link rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/css/smartadmin-production.min.css}">
		<link rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/css/smartadmin-skins.min.css}">

		<!-- SmartAdmin RTL Support  -->
		<link rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/css/smartadmin-rtl.min.css}">

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<!--<link rel="stylesheet" type="text/css" media="screen" href="css/demo.min.css">-->

		<!-- FAVICONS -->
		<link rel="shortcut icon" th:href="@{/resources/img/favicon/favicon.ico}" type="image/x-icon">
		<link rel="icon" th:href="@{/resources/img/favicon/favicon.ico}" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" th:href="@{/resources/img/splash/sptouch-icon-iphone.png}">
		<link rel="apple-touch-icon" sizes="76x76" th:href="@{/resources/img/splash/touch-icon-ipad.png}">
		<link rel="apple-touch-icon" sizes="120x120" th:href="@{/resources/img/splash/touch-icon-iphone-retina.png}">
		<link rel="apple-touch-icon" sizes="152x152" th:href="@{/resources/img/splash/touch-icon-ipad-retina.png}">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" th:href="@{/resources/img/splash/ipad-landscape.png}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" th:href="@{/resources/img/splash/ipad-portrait.png}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" th:href="@{/resources/img/splash/iphone.png}" media="screen and (max-device-width: 320px)">
		
		<!-- Angular Dependencies -->
	   	<script th:src="@{/resources/node_modules/core-js/client/shim.min.js}"></script>
	    <script th:src="@{/resources/node_modules/zone.js/dist/zone.js}"></script>
	    <script th:src="@{/resources/node_modules/reflect-metadata/Reflect.js}"></script>
	    <script th:src="@{/resources/node_modules/systemjs/dist/system.src.js}"></script>
		
		<!-- Angular bootstrap -->
		<script th:src="@{/resources/systemjs.config.js}"></script>
	    <script>
	      System.import('app').catch(function(err){ console.error(err); });
	    </script>

	</head>
	
	<!--

	TABLE OF CONTENTS.
	
	Use search to find needed section.
	
	===================================================================
	
	|  01. #CSS Links                |  all CSS links and file paths  |
	|  02. #FAVICONS                 |  Favicon links and file paths  |
	|  03. #GOOGLE FONT              |  Google font link              |
	|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
	|  05. #BODY                     |  body tag                      |
	|  06. #HEADER                   |  header tag                    |
	|  07. #PROJECTS                 |  project lists                 |
	|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
	|  09. #MOBILE                   |  mobile view dropdown          |
	|  10. #SEARCH                   |  search field                  |
	|  11. #NAVIGATION               |  left panel & navigation       |
	|  12. #RIGHT PANEL              |  right panel userlist          |
	|  13. #MAIN PANEL               |  main panel                    |
	|  14. #MAIN CONTENT             |  content holder                |
	|  15. #PAGE FOOTER              |  page footer                   |
	|  16. #SHORTCUT AREA            |  dropdown shortcuts area       |
	|  17. #PLUGINS                  |  all scripts and plugins       |
	
	===================================================================
	
	-->
	
	<!-- #BODY -->
	<!-- Possible Classes

		* 'smart-style-{SKIN#}'
		* 'smart-rtl'         - Switch theme mode to RTL
		* 'menu-on-top'       - Switch to top navigation (no DOM change required)
		* 'no-menu'			  - Hides the menu completely
		* 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
		* 'fixed-header'      - Fixes the header
		* 'fixed-navigation'  - Fixes the main menu
		* 'fixed-ribbon'      - Fixes breadcrumb
		* 'fixed-page-footer' - Fixes footer
		* 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
	-->
<body class="smart-style-6 fixed-header fixed-navigation">

	<!-- HEADER -->
	<header id="header">
		<div id="logo-group">

			<!-- PLACE YOUR LOGO HERE -->
			<span id="logo"> <img th:src="@{/resources/img/logo-omeda.png}" alt="Omeda"> </span>
			<!-- END LOGO PLACEHOLDER -->
			<!-- Note: The activity badge color changes when clicked and resets the number to 0
			Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
			<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

			<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
			<div class="ajax-dropdown">

				<!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label class="btn btn-default">
						<input type="radio" name="activity" id="ajax/notify/mail.html">
						Messages (14)
					</label>
					<label class="btn btn-default">
						<input type="radio" name="activity" id="ajax/notify/notifications.html">
						Notifications (3)
					</label>
					<label class="btn btn-default">
						<input type="radio" name="activity" id="ajax/notify/tasks.html">
						Tasks (4)
					</label>
				</div>

				<!-- notification content -->
				<div class="ajax-notifications custom-scroll">

					<div class="alert alert-transparent">
						<h4>Click a button to show messages here</h4>
						This blank page message helps protect your privacy, or you can show the first message here automatically.
					</div>

					<i class="fa fa-lock fa-4x fa-border"></i>

				</div>
				<!-- end notification content -->
				<!-- footer: refresh area -->
				<span>
					Last updated on: 12/12/2013 9:43AM
					<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button>
				</span>
				<!-- end footer -->

			</div>
			<!-- END AJAX-DROPDOWN -->
		</div>

		<!-- projects dropdown -->
		<div class="project-context hidden-xs">

			<span class="label">JIRA:</span>
			<span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent JIRA Tickets <i class="fa fa-angle-down"></i></span>

			<!-- Suggestion: populate this list with fetch and push technique -->
			<ul class="dropdown-menu">
				<li>
					<a href="javascript:void(0);">OPS-50485	- Omeda Applications UI Redesign - CAMP</a>
				</li>
				<li>
					<a href="javascript:void(0);">OPS-51082	- CAMP UI Redesign - Remove dojo and its dependencies from reskin</a>
				</li>
				<li>
					<a href="javascript:void(0);">OPS-51091	- PORTAL UI Redesign - Login Page</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
				</li>
			</ul>
			<!-- end dropdown-menu-->

		</div>
		<!-- end projects dropdown -->

		<!-- pulled right: nav area -->
		<div class="pull-right">

			<!-- collapse menu button -->
			<div id="hide-menu" class="btn-header pull-right">
				<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
			</div>
			<!-- end collapse menu -->
			<!-- #MOBILE -->
			<!-- Top menu profile link : this shows only when top menu is active -->
			<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
				<li class="">
					<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
						<img th:src="@{/resources/img/avatars/cmendoza.jpg}" alt="John Doe" class="online" />
					</a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- logout button -->
			<div id="logout" class="btn-header transparent pull-right">
				<span> <a href="login.html" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
			</div>
			<!-- end logout button -->
			<!-- settings button -->
			<div id="settings" class="btn-header transparent pull-right">
				<span> <a href="<%=settingsUrl%>" title="Settings"
					data-action="settings">
					<i class="material-icons" style="margin-top: -4px;">settings</i>
					</a>
				</span>
			</div>
			<!-- end settings button -->
			<!-- search mobile button (this is hidden till mobile view port) -->
			<div id="search-mobile" class="btn-header transparent pull-right">
				<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
			</div>
			<!-- end search mobile button -->
			<!-- fullscreen button -->
			<div id="fullscreen" class="btn-header transparent pull-right">
				<span> <a href="javascript:void(0);"
					data-action="launchFullscreen" title="Full Screen">
					<i class="material-icons font-lg" style="margin-top: -4px;">fullscreen</i>
					</a>
				</span>
			</div>
			<!-- input: search field -->
			<form action="search.html" class="header-search pull-right">
				<input id="search-fld" type="text" name="param" placeholder="Select a brand..." value="Acme Global DB" data-autocomplete='[
					"Acme Global DB",
					"Omeda"]'>

				<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
			</form>
			<!-- end input: search field -->
			<!-- end fullscreen button -->

		</div>
		<!-- end pulled right: nav area -->

	</header>
	<!-- END HEADER -->
	<!-- Left panel : Navigation area -->
	<!-- Note: This width of the aside area can be adjusted through LESS variables -->
	<aside id="left-panel">

		<!-- User info -->
		<div class="login-info">
			<span>
				<!-- User image size is adjusted inside CSS, it should stay as it -->

				<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
					<img th:src="@{/resources/img/avatars/cmendoza.jpg}" alt="me" class="online" />
					<span>
						John Doe
					</span>
					<i class="fa fa-angle-down"></i>
				</a>

			</span>
		</div>
		<!-- end user info -->
		<!-- NAVIGATION : This navigation is also responsive-->
		<nav>
			<!--
			NOTE: Notice the gaps after each icon usage <i></i>..
			Please note that these links work a bit different than
			traditional href="" links. See documentation for details.
			-->

			<ul>
				<li>
					<a href="#" title="My Omeda"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">My Omeda</span></a>
					<ul>
						<li>
							<a href="myomeda-dashboard.html" title="Dashboard"><span class="menu-item-parent">Dashboard</span></a>
						</li>
						<li class="">
							<a href="#" title="News"><span class="menu-item-parent">News</span></a>
							<ul>
								<li class="active">
									<a href="myomeda-news.html">News Releases</a>
								</li>
								<li>
									<a href="myomeda-news-manage.html">Manage Releases</a>
								</li>
							</ul>
						</li>
						<li class="">
							<a href="myomeda-myaccount.html">My Account</a>
						</li>
						<li class="">
							<a href="myomeda-admin.html">Admin</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="data-acquisition-home.html"><i class="fa fa-lg fa-fw fa-cloud-download"></i> <span class="menu-item-parent">Acquire</span></a>
				</li>
				<li>
					<a href="data-management-home.html"><i class="fa fa-lg fa-fw fa-cubes"></i> <span class="menu-item-parent">Manage</span></a>
				</li>
				<li>
					<a href="data-activation-home.html"><i class="fa fa-lg fa-fw fa-rocket"></i> <span class="menu-item-parent">Activate</span></a>
				</li>
				<li>
					<a href="analytics-home.html"><i class="fa fa-lg fa-fw fa-line-chart"></i> <span class="menu-item-parent">Analytics</span></a>
				</li>
			</ul>
		</nav>


		<span class="minifyme" data-action="minifyMenu">
			<i class="fa fa-arrow-circle-left hit"></i>
		</span>

	</aside>
	<!-- END NAVIGATION -->
	<!-- MAIN PANEL -->
	<div id="main" role="main">

		<!-- RIBBON -->
		<div id="ribbon">

			<span class="ribbon-button-alignment">
				<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
			</span>

			<span class="ribbon-button-alignment pull-right">
				<button class="btn btn-info btn-xs hide" data-toggle="modal" data-target="#addWidgetModal">
					Add a widget
				</button>
			</span>

			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li>My Omeda</li>
				<li>News</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- You can also add more buttons to the
			ribbon for further usability

			Example below:

			<span class="ribbon-button-alignment pull-right">
			<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
			<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
			<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
			</span> -->

		</div>
		<!-- END RIBBON -->
		
		<!-- MAIN CONTENT -->
		<portal>
	  		
		</portal>
		<!-- END MAIN CONTENT -->

	</div>
	<!-- END MAIN PANEL -->

	<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
	Note: These tiles are completely responsive,
	you can add as many as you like
	-->
	<div id="shortcut">
		<ul>
			<li>
				<a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
			</li>
			<li>
				<a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
			</li>
			<li>
				<a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
			</li>
			<li>
				<a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
			</li>
			<li>
				<a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
			</li>
			<li>
				<a href="profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
			</li>
		</ul>
	</div>
	<!-- END SHORTCUT AREA -->
	<!--================================================== -->
	<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
	<!-- <script data-pace-options='{ "restartOnRequestAfter": true }' th:src="@{/resources/js/plugin/pace/pace.min.js}"></script> -->

	<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

	<!-- IMPORTANT: APP CONFIG -->
	<script th:src="@{/resources/js/app.config.js}"></script>

	<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
	<script th:src="@{/resources/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js}"></script>

	<!-- BOOTSTRAP JS -->
	<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>

	<!-- CUSTOM NOTIFICATION -->
	<script th:src="@{/resources/js/notification/SmartNotification.min.js}"></script>

	<!-- JARVIS WIDGETS -->
	<script th:src="@{/resources/js/smartwidgets/jarvis.widget.min.js}"></script>

	<!-- EASY PIE CHARTS -->
	<script th:src="@{/resources/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js}"></script>

	<!-- SPARKLINES -->
	<script th:src="@{/resources/js/plugin/sparkline/jquery.sparkline.min.js}"></script>

	<!-- JQUERY VALIDATE -->
	<script th:src="@{/resources/js/plugin/jquery-validate/jquery.validate.min.js}"></script>

	<!-- JQUERY MASKED INPUT -->
	<script th:src="@{/resources/js/plugin/masked-input/jquery.maskedinput.min.js}"></script>

	<!-- JQUERY SELECT2 INPUT -->
	<script th:src="@{/resources/js/plugin/select2/select2.min.js}"></script>

	<!-- JQUERY UI + Bootstrap Slider -->
	<script th:src="@{/resources/js/plugin/bootstrap-slider/bootstrap-slider.min.js}"></script>

	<!-- browser msie issue fix -->
	<script th:src="@{/resources/js/plugin/msie-fix/jquery.mb.browser.min.js}"></script>

	<!-- FastClick: For mobile devices -->
	<script th:src="@{/resources/js/plugin/fastclick/fastclick.min.js}"></script>

	<!--[if IE 8]>

	<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

	<![endif]-->
	<!-- Demo purpose only -->
	<!--<script src="js/demo.min.js"></script>-->
	<!-- MAIN APP JS FILE -->
	<script th:src="@{/resources/js/app.min.js}"></script>

	<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
	<!-- Voice command : plugin -->
	<script th:src="@{/resources/js/speech/voicecommand.min.js}"></script>

	<!-- SmartChat UI : plugin -->
	<script th:src="@{/resources/js/smart-chat-ui/smart.chat.ui.min.js}"></script>
	<script th:src="@{/resources/js/smart-chat-ui/smart.chat.manager.min.js}"></script>

	<!-- PAGE RELATED PLUGIN(S) -->

	<script>
		$(document).ready(function () {

			pageSetUp();
			
			$("#newsReleaseIdSelect").change(function(){
				$(this).find("option:selected").each(function(){
					if($(this).attr("value")=="102"){
						$(".news-item").not("#102").hide();
						$("#102").show();
					}
					else if($(this).attr("value")=="101"){
						$(".news-item").not("#101").hide();
						$("#101").show();
					}
					else if($(this).attr("value")=="100"){
						$(".news-item").not("#100").hide();
						$("#100").show();
					}
					else if($(this).attr("value")=="99"){
						$(".news-item").not("#99").hide();
						$("#99").show();
					}
					else if($(this).attr("value")=="98"){
						$(".news-item").not("#98").hide();
						$("#98").show();
					}
					else{
						$(".box").hide();
					}
				});
			}).change();

		});

	</script>

</body>



</html>