<div id="content" style="opacity: 1;"><!-- Bread crumb is created dynamically -->
			<!-- row -->
			<div class="row">

				<!-- col -->
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
					<h1 class="page-title txt-color-blueDark">
						<!-- PAGE HEADER -->
						<img src="/mvc/resources/img/icon/news.svg" style="height: 48px; margin-top: -4px; margin-right: 4px;" />
							NEWS RELEASE
					</h1>
				</div>
				<!-- end col -->

				<!-- right side of the page with the sparkline graphs -->
				<!-- col -->
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
					<!-- sparks -->
					<ul id="sparks">
						<li class="sparks-info">
							<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
							<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm"><canvas width="89" height="26" style="display: inline-block; width: 89px; height: 26px; vertical-align: top;"></canvas></div>
						</li>
						<li class="sparks-info">
							<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
							<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
						</li>
						<li class="sparks-info">
							<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
							<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
						</li>
					</ul>
					<!-- end sparks -->
				</div>
				<!-- end col -->

			</div>
			<!-- end row -->

			<div class="row">

				<div class="col-sm-9">
					<div class="form-group">
						<select id="newsReleaseIdSelect" name="newsReleaseIdSelect" class="form-control input-lg" style="background: #FFF;" > 
							<option *ngFor="let newsRelease of newsReleases" value="{{newsRelease.id}}">{{newsRelease.name}}</option>
						</select>
					</div>
					

					<div *ngFor="let newsRelease of newsReleases" id="news-release-{{newsRelease.id}}" class="well padding-10 news-item">
						<div class="row">
							<div class="col-md-2">
								<img src="{{newsRelease.image}}" class="img-responsive padding-5" alt="img">
								<p class="text-center">"{{newsRelease.imageText}}"</p>
							</div>
							<div class="col-md-10 padding-left-0">
								<h3 class="">{{newsRelease.name}}</h3>
								<hr />
								
								<!-- loop items -->
								
								<div *ngFor="let item of newsRelease.items">
									<h4 class="txt-color-blueLight"><i class="fa fa-fw {{item.icon}}"></i> {{item.name}}</h4>
									<h6 style="font-weight: 700">{{item.title}}</h6>
									<p [innerHTML]="item.body"></p>
									<hr />
								</div>
								
								<!-- end loop items -->
								
								<div class="form-group">
									<span><i class="fa fa-fw fa-tags"></i> Tags:</span>
									<a href="" *ngFor="let tag of newsRelease.tags"><span id="{{tag.id}}" class="badge badge-info">{{tag.name}}</span></a>
								</div>
								
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">
					<div class="well padding-10">
						<h5 class="margin-top-0"><i class="fa fa-search"></i> News Release Search...</h5>
						<div class="input-group">
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-search"></i>
								</button> </span>
						</div>
						<!-- /input-group -->
					</div>
					<!-- /well -->
					<div class="well padding-10">
						<h5 class="margin-top-0"><i class="fa fa-tags"></i> Popular Tags:</h5>
						<div class="row">
							<div class="col-lg-6">
								<ul class="list-unstyled">
									<li>
										<a href=""><span class="badge badge-info">API</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">Customer View</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">olytics</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">Omail</span></a>
									</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="list-unstyled">
									<li>
										<a href=""><span class="badge badge-info">Processor</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">Reporting</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">OnQ</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /well -->

				</div>

			</div>


			<!-- end row -->

			</div>