<div id="content" style="opacity: 1;"><!-- Bread crumb is created dynamically -->
			<!-- row -->
			<div class="row">

				<!-- col -->
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
					<h1 class="page-title txt-color-blueDark">
						<!-- PAGE HEADER -->
						<img src="/mvc/resources/img/icon/news.svg" style="height: 48px; margin-top: -4px; margin-right: 4px;" />
							NEWS RELEASES 
					</h1>
				</div>
				<!-- end col -->

				<!-- right side of the page with the sparkline graphs -->
				<!-- col -->
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
					<!-- sparks -->
					<ul id="sparks">
						<li class="sparks-info">
							<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
							<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm"><canvas width="89" height="26" style="display: inline-block; width: 89px; height: 26px; vertical-align: top;"></canvas></div>
						</li>
						<li class="sparks-info">
							<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
							<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
						</li>
						<li class="sparks-info">
							<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
							<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
						</li>
					</ul>
					<!-- end sparks -->
				</div>
				<!-- end col -->

			</div>
			<!-- end row -->

			<div class="row">

				<div class="col-sm-9">
					<div class="form-group">
						<select id="newsReleaseIdSelect" name="newsReleaseIdSelect" class="form-control input-lg" style="background: #FFF;" autofocus> 
							<option value="102">Peach Release - Version 3.2 - May 12th, 2016</option>
							<option value="101">Luigi Release - Version 3.1 - March 31st, 2016</option>
							<option value="100">Mario Release - Version 3.0 - February 18th, 2016</option>
							<option value="99">Sally Release - Version 2.8 - January 7th, 2016</option>
							<option value="98">Schroeder release - v2.7 - November 20, 2015</option>
							<option value="97">Linus Release - Version 2.6 - October 8, 2015</option>
							<option value="96">August 28, 2015</option>
							<option value="95">July 17, 2015</option>
							<option value="92">June 5, 2015</option>
							<option value="91">April 24, 2015</option>
							<option value="90">March 13, 2015</option>
							<option value="89">December 19, 2014</option>
							<option value="88">December 5, 2014</option>
							<option value="87">November 14, 2014</option>
							<option value="86">October 31, 2014</option>
							<option value="85">October 3, 2014</option>
							<option value="84">September 19, 2014</option>
							<option value="83">September 5, 2014</option>
							<option value="82">August 22, 2014</option>
							<option value="81">July 25, 2014</option>
							<option value="80">July 11, 2014</option>
							<option value="79">June 27, 2014</option>
							<option value="78">June 13, 2014</option>
							<option value="77">May 30, 2014</option>
							<option value="76">May 16, 2014</option>
							<option value="75">May 2, 2014</option>
							<option value="74">April 18, 2014</option>
							<option value="73">April 4, 2014</option>
							<option value="72">March 21, 2014</option>
							<option value="71">March 7, 2014</option>
							<option value="70">February 21, 2014</option>
							<option value="69">Feb 7, 2014</option>
							<option value="68">January 24, 2014</option>
							<option value="67">January 10, 2014</option>
							<option value="66">December 13, 2013</option>
							<option value="65">November 22, 2013</option>
							<option value="64">November 8, 2013</option>
							<option value="63">October 25, 2013</option>
							<option value="62">October 11, 2013</option>
							<option value="60">September 27, 2013</option>
							<option value="59">September 13, 2013</option>
							<option value="61">Upcoming Release</option>
							<option value="58">August 23, 2013</option>
							<option value="57">August 9, 2013</option>
							<option value="56">June 21, 2013</option>
							<option value="55">June 7, 2013</option>
							<option value="54">May 24, 2013</option>
							<option value="53">May 10, 2013</option>
							<option value="52">April 26, 2013</option>
							<option value="51">March 29, 2013</option>
							<option value="50">March 15, 2013</option>
							<option value="49">March 1, 2013</option>
							<option value="47">January 31, 2013</option>
							<option value="46">Dec 14, 2012</option>
							<option value="45">Nov 29, 2012</option>
							<option value="44">October 26, 2012</option>
							<option value="43">Oct 12, 2012</option>
							<option value="42">September 14, 2012</option>
							<option value="41">August 31, 2012</option>
							<option value="40">August 3, 2012</option>
							<option value="39">July 20, 2012</option>
							<option value="38">July 6, 2012</option>
							<option value="37">June 8, 2012</option>
							<option value="36">May 25, 2012</option>
							<option value="35">May 10, 2012</option>
							<option value="34">April 20, 2012</option>
							<option value="33">April 6, 2012</option>
							<option value="32">Mar 23, 2012</option>
							<option value="31">Feb 10, 2012</option>
							<option value="30">Jan 21, 2012</option>
						</select>
					</div>
					
					<!-- #PEACH -->
					<div id="102" class="well padding-10 news-item">
						<div class="row">
							<div class="col-md-2">
								<img src="/mvc/resources/img/icon/release/mario/peach.svg" class="img-responsive padding-5" alt="img">
								<p class="text-center">"I rule the Mushroom Kingdom!"</p>
							</div>
							<div class="col-md-10 padding-left-0">
								<h3 class="">Peach Release - Version 3.2 - May 12th, 2016</h3>
								<hr />
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-globe"></i> API's</h4>
									<h6 style="font-weight: 700">Enhancements</h6>
									<p>Two enhancements have been made to the Update Subscription API call:
										<ul>
											<li>The client order id has been added as a field that can be returned and populated based on information in the call.</li>
											<li>The Renewal Count has also been added as a field that can be returned.</li>
										</ul>
									
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-child"></i> Customer View</h4>
									<h6 style="font-weight: 700">Demo Date and Batch Tracking ID</h6>
									<p>In our last release, we added the option to key the demo date and batch tracking id on each individual demographic when entering an order. With this code release, you are now able to add/update this information in the demographic section of Customer View.
Please contact your Account Manager with any questions.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-paper-plane"></i> Omail</h4>
									<h6 style="font-weight: 700">Upgraded version of WYSIWYG editor</h6>
									<p>Our WYSIWYG editor has now been upgraded to the most recent version of CKEditor - CKEditor 4.5.7 (revision e98277f).<br>
New features include an updated interface and the addition of the Styles drop-down which allows you to easily apply customized styles and semantic values to content created in the editor.<br>
The user guide can be found here <a href="http://docs.cksource.com/CKEditor_3.x/Users_Guide" target="_blank">CKEditor User Guide</a>.</p>
									<hr />
								</div>

								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-globe"></i> Reports</h4>
									<h6 style="font-weight: 700">Omail - Summary by Link Category</h6>
									<p>The Summary by Link Category report has now been enhanced to allow you to run it over user specified date ranges. Previously you could only select an entire month period. This report is an excellent way to view the success of your categorized links.
Please contact the Omail team to review this functionality.</p>
									<hr />
								</div>
								
								<div class="form-group">
									<span><i class="fa fa-fw fa-tags"></i> Tags:</span>
									<a href=""><span class="badge badge-info">API</span></a>
									<a href=""><span class="badge badge-info">Customer View</span></a>
									<a href=""><span class="badge badge-info">Omail</span></a>
									<a href=""><span class="badge badge-info">Reports</span></a>
								</div>
								
							</div>
						</div>
					</div>
					<!-- #END PEACH -->

					<!-- #LUIGI -->
					<div id="101" class="well padding-10 news-item">
						<div class="row">
							<div class="col-md-2">
								<img src="/mvc/resources/img/icon/release/mario/luigi.svg" class="img-responsive padding-5" alt="img">
								<p class="text-center">"Let's-a go!"</p>
							</div>
							<div class="col-md-10 padding-left-0">
								<h3 class="">Luigi Release - Version 3.1 - March 31st, 2016</h3>
								<hr />
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-globe"></i> API's</h4>
									<h6 style="font-weight: 700">Enhancement: Allow in 1 call</h6>
									<p>Within the Save Customer and Order API call, you can now submit both a Paid order and a Comp order in one call. This will now allow you to offer products that are both free and paid and send the information in one call.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-area-chart"></i> olytics</h4>
									<h6 style="font-weight: 700">Enhancement: General Traffic report</h6>
									<p>The General Traffic Report has been modified by adding a "show all" option on the page. By default, we only report on the top 20 rows. You can now click on the "show all" to see the visit counts for each tag, all on 1 page.</p>
									
									<h6 style="font-weight: 700">Update: Anonymous/Known skittle in OnQ</h6>
									<p>A new option has been added to the Anonymous/Known skittle in OnQ. You can now select "Known with olytics data". Prior to this release, the "known" option included everyone on your database that was not classified as "anonymous". Your 3 options now for selecting data are (1) Anonymous (2) Known without olytics data (3) Known with olytics data.
Please contact your account manager with any questions.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-list-alt"></i> OnQ</h4>
									<h6 style="font-weight: 700">New Feature: Renewal Count</h6>
									<p>You can now keep track of how many times each customer renewed their paid subscription for each product. Every time a renewal is added to a customer's record, the renewal count will be incremented by 1. This new data field allows you to assess a lifetime value for each customer. You will be able to query this information in OnQ and output it. Plus, you will see it on the customer's record in Customer View.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-refresh"></i> Processor</h4>
									<h6 style="font-weight: 700">Enhancement: Rules for digital edition requests</h6>
									<p>Your account manager can now create rules which will automatically override any prior optouts for your digital editions when your customer now requests the digital edition.
Please contact your Account Manager for further details.</p>
									<hr />
								</div>
															
								<div class="form-group">
									<span><i class="fa fa-fw fa-tags"></i> Tags:</span>
									<a href=""><span class="badge badge-info">API</span></a>
									<a href=""><span class="badge badge-info">olytics</span></a>
									<a href=""><span class="badge badge-info">OnQ</span></a>
									<a href=""><span class="badge badge-info">Processor</span></a>
								</div>
								
							</div>
						</div>
					</div>
					<!-- #END LUIGI -->
					
					<!-- #MARIO -->
					<div id="100" class="well padding-10 news-item">
						<div class="row">
							<div class="col-md-2">
								<img src="/mvc/resources/img/icon/release/mario/mario.svg" class="img-responsive padding-5" alt="img">
								<p class="text-center">"It's-a me, Mario!"</p>
							</div>
							<div class="col-md-10 padding-left-0">
								<h3 class="">Mario Release - Version 3.0 - February 18th, 2016</h3>
								<hr />
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-globe"></i> API's</h4>
									<h6 style="font-weight: 700">A new get API for olytics data</h6>
									<p>You now have the ability to do lookups based on attribute counts for olytics data as it relates to a behavior for a designated time-frame.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-child"></i> Customer View</h4>
									<h6 style="font-weight: 700">Age of a demographic value</h6>
									<p>You will now be able to see the "Demo Date" and also the "Batch Tracking ID" for each demographic value. This is very useful information for audited magazines. These data fields have always been available in OnQ - they are now visible in each customer's record in Customer View.</p>
									
									<h6 style="font-weight: 700">Company name only customers</h6>
									<p>When creating a new customer in Customer View, you are now able to create a customer with company name only. Before, we were requiring an address as well. This is beneficial when you have limited contact data but have additional data such as behaviors or demographics. This allows you to build the customer profile through increased engagement.</p>
									
									<h6 style="font-weight: 700">Removing an email address from a customer</h6>
									<p>In those situations where it is imperative that a customer's email address is totally removed from your database, you will be able to do so, since the Deactivate link will always be available. This deactivates the email, removing it from view and any means of output from OnQ.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-list-alt"></i> OnQ</h4>
									<h6 style="font-weight: 700">New Feature: Renewal Count</h6>
									<p>You can now keep track of how many times each customer renewed their paid subscription for each product. Every time a renewal is added to a customer's record, the renewal count will be incremented by 1. This new data field allows you to assess a lifetime value for each customer. You will be able to query this information in OnQ and output it. Plus, you will see it on the customer's record in Customer View.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-refresh"></i> Processor</h4>
									<h6 style="font-weight: 700">Enhancement: Rules for digital edition requests</h6>
									<p>Your account manager can now create rules which will automatically override any prior optouts for your digital editions when your customer now requests the digital edition.
Please contact your Account Manager for further details.</p>
									<hr />
								</div>
								
								<div class="form-group">
									<span><i class="fa fa-fw fa-tags"></i> Tags:</span>
									<a href=""><span class="badge badge-info">API</span></a>
									<a href=""><span class="badge badge-info">olytics</span></a>
									<a href=""><span class="badge badge-info">OnQ</span></a>
									<a href=""><span class="badge badge-info">Processor</span></a>
								</div>
								
							</div>
						</div>
					</div>
					<!-- #END MARIO -->
					
					<!-- #SALLY -->
					<div id="99" class="well padding-10 news-item">
						<div class="row">
							<div class="col-md-2">
								<img src="/mvc/resources/img/icon/release/peanuts/sally.png" class="img-responsive padding-5" alt="img">
								<p class="text-center">"I feel old-fashioned!"</p>
							</div>
							<div class="col-md-10 padding-left-0">
								<h3 class="">Sally Release - Version 2.8 - January 7th, 2016</h3>
								<hr />
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-globe"></i> API's</h4>
									<h6 style="font-weight: 700">Email lookup</h6>
									<p>The Email look up API was modified to allow for the new gTLD's (global top level domains), which can be longer than standard four characters.</p>
									
									<h6 style="font-weight: 700">Promotion code lookup</h6>
									<p>The Promotion code lookup API has now been updated to return a promo code status code, a requested version, and a calculated bill me, if needed.</p>
									
									<h6 style="font-weight: 700">Subscription lookup by email address</h6>
									<p>A new API has been created to enable you to look up subscription information, based on an email address. Here's our comprehensive <a href="https://wiki.omeda.com/wiki/en/API_Suite" target="_blank">API Suite documentation</a>.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-child"></i> Customer View</h4>
									<h6 style="font-weight: 700">Enhanced memo for Nixies</h6>
									<p>For clients that require more than one nixie before deactivating the postal delivery address, the Memo field in Customer View will now show when the nixie counter has been incremented.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-area-chart"></i> olytics</h4>
									<h6 style="font-weight: 700">olytics data available for OnQ outputs</h6>
									<p>When selecting olytics data in OnQ, the following fields can now also be in your output file: IP Organization, Anonymous, Device Type, and Operating System.</p>
									
									<h6 style="font-weight: 700">olytics reporting</h6>
									<p>Within the Reports tab of the my.omeda.com portal, specialized reporting for olytics is now available within the olytics section. General Traffic, Visitor Technology, and Pathing reports provide a deeper view into your website visitors.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-paper-plane"></i> Omail</h4>
									<h6 style="font-weight: 700">gTLD</h6>
									<p>Due to the release of new Global Top Level Domains: gTLD's, the my.omeda.com portal has been enhanced to allow for the use of these new domains such as .accounting or .fitness or .photography and even .beer.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-refresh"></i> Processor</h4>
									<h6 style="font-weight: 700">OEC - Open Ended coding</h6>
									<p>The "Reassign Values" section of the OEC program has been modified to now allow users to reassign a value of "Other" to previously coded values.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-line-chart"></i> Reports</h4>
									<h6 style="font-weight: 700">Add/Kill by Reason report</h6>
									<p>The Add/Kill report that is generated during an Issue Close has been modified by adding reason codes on the detail section. This is accessible by clicking on a number on the summary.</p>
									
									<h6 style="font-weight: 700">Promo Code report</h6>
									<p>The promo code report has been modified by adding the quantity sent and return percentage. Clients can record the quantity sent number within the Campaign tool when setting up new promo codes to enable this new data.</p>
									
									<h6 style="font-weight: 700">Sales Tax report</h6>
									<p>The details within the sales tax report have been modified by adding a county break out This is beneficial to clients that are required to use individual county sales tax tables.</p>
									<hr />
								</div>
								
								<div class="form-group">
									<span><i class="fa fa-fw fa-tags"></i> Tags:</span>
									<a href=""><span class="badge badge-info">API</span></a>
									<a href=""><span class="badge badge-info">Customer View</span></a>
									<a href=""><span class="badge badge-info">olytics</span></a>
									<a href=""><span class="badge badge-info">Omail</span></a>
									<a href=""><span class="badge badge-info">Processor</span></a>
									<a href=""><span class="badge badge-info">Reports</span></a>
								</div>
								
							</div>
						</div>
					</div>
					<!-- #END SALLY -->
					
					<!-- #SCHROEDER -->
					<div id="98" class="well padding-10 news-item">
						<div class="row">
							<div class="col-md-2">
								<img src="/mvc/resources/img/icon/release/peanuts/schroeder.png" class="img-responsive padding-5" alt="img">
								<p class="text-center">"What do you mean Beethoven wasn't so great?!"</p>
							</div>
							<div class="col-md-10 padding-left-0">
								<h3 class="">Schroeder release - v2.7 - November 20, 2015</h3>
								<hr />
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-area-chart"></i> olytics</h4>
									<h6 style="font-weight: 700">Customer View: Enhanced olytics data</h6>
									<p>Clicking on View Visits within an olytics Behavior will show 5 new columns of data: Date, Device Type, Browser, Operating System, and Referring Domain. This is an excellent way to see how an individual customer is interacting with your content.</p>
									
									<h6 style="font-weight: 700">OnQ: Enhanced olytics data</h6>
									<p>As we are now capturing the IP address from which a customer is accessing your content, by using a 3rd party look-up service, we can assign more data points. You will now see the following fields in OnQ to query this data: IP Organization, IP Location, IP Region, IP Country, IP City, and IP Zip/Postal Code.</p>
									
									<h6 style="font-weight: 700">Reporting: General Traffic report</h6>
									<p>This new report allows you to view overall visits and unique customer visits in a time graph by both Known and Anonymous visitors. You can also drill down into specified behaviors, categories and tags.</p>
									
									<h6 style="font-weight: 700">Reporting: Omail Deployment Delivery report</h6>
									<p>The Omail Deployment Delivery report will now show the number of clicks on links with olytics tracking enabled. This additional reporting will appear in the Response Categories, Delivery by Domain, and Tracking Links Clicked sections. Please contact the Omail team with any questions regarding this new data.</p>
									
									<h6 style="font-weight: 700">Reporting: Pathing report</h6>
									<p>This report allows you to view visits by referring domain. The data is presented on a time graph.</p>
									
									<h6 style="font-weight: 700">Reporting: Visitor Technology report</h6>
									<p>This report allows you to view Visits by Browser (Chrome, Firefox, Safari, etc.), Operating System (Windows, Android, iOS, etc.), and Device (personal computer, smartphone, tablet, etc.). The data is represented on a time graph by Known and Anonymous visits.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-paper-plane"></i> Omail</h4>
									<h6 style="font-weight: 700">Clarification for SpamAssasin scoring</h6>
									<p>When the Omail application was unable to connect to SpamAssasin for spam scoring, a score of 99 was displayed. This will now appear as Not Available to avoid confusion that a score was too high.</p>
									<hr />
								</div>
								
								<div>
									<h4 class="txt-color-blueLight"><i class="fa fa-fw fa-refresh"></i> OnQ</h4>
									<h6 style="font-weight: 700">Group Active Count</h6>
									<p>Within OnQ you can now query your paid groups to find the groups with x number of active members. This is helpful when doing your modeling or even determining the different price points that you may want to use for Renewals.</p>
									<hr />
								</div>
								
								<div class="form-group">
									<span><i class="fa fa-fw fa-tags"></i> Tags:</span>
									<a href=""><span class="badge badge-info">olytics</span></a>
									<a href=""><span class="badge badge-info">Omail</span></a>
									<a href=""><span class="badge badge-info">OnQ</span></a>
								</div>
								
							</div>
						</div>
					</div>
					<!-- #END SCHROEDER -->
				</div>

				<div class="col-sm-3">
					<div class="well padding-10">
						<h5 class="margin-top-0"><i class="fa fa-search"></i> News Release Search...</h5>
						<div class="input-group">
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-search"></i>
								</button> </span>
						</div>
						<!-- /input-group -->
					</div>
					<!-- /well -->
					<div class="well padding-10">
						<h5 class="margin-top-0"><i class="fa fa-tags"></i> Popular Tags:</h5>
						<div class="row">
							<div class="col-lg-6">
								<ul class="list-unstyled">
									<li>
										<a href=""><span class="badge badge-info">API</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">Customer View</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">olytics</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">Omail</span></a>
									</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="list-unstyled">
									<li>
										<a href=""><span class="badge badge-info">Processor</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">Reporting</span></a>
									</li>
									<li>
										<a href=""><span class="badge badge-info">OnQ</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /well -->

				</div>

			</div>


			<!-- end row -->

			</div>