/news.module.js
/news.module.js.map
/news.detail.module.js
/news.detail.module.js.map
/news.routing.module.js
/news.routing.module.js.map
/news-detail.module.js
/news-detail.module.js.map
/news-routing.module.js
/news-routing.module.js.map
